html {
    font-family: 'Josefin Sans';
    font-size: 12pt;
    line-height: 1.4;
}
button {
	font-family: 'Josefin Sans';
}
.page {
	width: 95%;
	height: 95%;	
	position: absolute;
	left: 2.5%;
	top: 2.5%;
	//background-color: gray;
}
.page-content {
	margin: 0.25in;
}
.wrapper {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    top: 0;
	//background-color: red;
}